<main class="banner">
  <h1 class="title">Purchase your product here!</h1>
  <section class="products">

<a href="#">
<div class="card">
  <img src="/images/Black-Ram-Whisky__59645.jpg" alt=""><br>
  <p>Aberfeldy 21 Year 750ML</br>
  <strong>$200</strong></p>
</div>
</a>
<div class="hide">
    <a href="#">Add to cart</a>
    </div>


<div class="card">
  <img src="/images/Glenfiddich-12-Year-Old-Single-Malt-1-75__42410.jpg" alt=""><br>
  <p>Aberfeldy 21 Year 750ML</br>
  <strong>$200</strong></p>
</div>

<div class="card">
  <img src="/images/Glenlivet-12-Year-1750__20809.jpg" alt=""><br>
  <p>Aberfeldy 21 Year 750ML</br>
  <strong>$200</strong></p>
</div>

<div class="card">
  <img src="/images/Johnnie-Walker-Black-Label-1750__59032.jpg" alt=""><br>
  <p>Aberfeldy 21 Year 750ML</br>
  <strong>$200</strong></p>
</div>

<div class="card">
  <img src="/images/Tenjaku-Blended-Whiskey__93634.jpg" alt=""><br>
  <p>Aberfeldy 21 Year 750ML</br>
  <strong>$200</strong></p>
</div>

  </section>
</main>