{{!-- <footer>
 <div class="col1">
 <h2>Follow us</h2>
    <ul class="socialLinks ">
            <li class="socialLinks-item">
                <a href="#">
                <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li class="socialLinks-item">
                <a href="#">
              <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li class="socialLinks-item">
                <a href="#">
<i class="fa-brands fa-instagram"></i>
</a>
            </li>
            <li class="socialLinks-item">
                 <a href="#">
              <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </li>
    </ul>
 </div>
 <div class="col2">
    <h2>Navigate</h2>
    <ul>
                                <li>
                                    <a href="https://www.theliquorbarn.com/pages/terms-conditions.html">Terms &amp; Conditions</a>
                                </li>
                                <li>
                                    <a href="https://www.theliquorbarn.com/delivery-returns/">Delivery &amp; Returns</a>
                                </li>
                                <li>
                                    <a href="https://www.theliquorbarn.com/pages/privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="https://www.theliquorbarn.com/brands/">Brands</a>
                                </li>
                                <li>
                                    <a href="https://www.theliquorbarn.com/contacts/">Contacts</a>
                                </li>
                                <li>
                                    <a href="https://www.theliquorbarn.com/pages/locations.html">Locations</a>
                                </li>
                                <li>
                                    <a href="https://www.theliquorbarn.com/specials/">Specials</a>
                                </li>
                                <li>
                                    <a href="/sitemap.php">Sitemap</a>
                                </li>
                        </ul>
 </div>
 <div class="col3">
     <h2>Categories</h2>
      <ul>
                                <li>
                                    <a href="https://www.theliquorbarn.com/pages/terms-conditions.html">Irish</a>
                                </li>
                                <li>
                                    <a href="https://www.theliquorbarn.com/delivery-returns/">Bourbon</a>
                                </li>
                                <li>
                                    <a href="https://www.theliquorbarn.com/pages/privacy-policy.html">Single Malt</a>
                                </li>
                                </ul>

 </div>
 
</footer>
<div class="copyright">
    <p>© 2022</p>
 </div> --}}

 <footer>

    <div class="logo">

<a href="">

<img src="/images/Whiskey-Wash-Logo-FullColor.webp" width="180px" alt="">

</a>


    </div>

<div class="links">

<div class="pageLinks">

<a href="">History</a>
<a href="">Whisky</a>

<a href="">Kingdom</a>

<a href="">Cocktails
</a>

<a href="">Shop</a>


</div>

</div>

<div class="social">

<div class="otherLinks">

<a href="">TERMS AND CONDITIONS</a>
<a href="">PRIVACY POLICY</a>

<a href="">COOKIE POLICY</a>

<a href="">CONTACT US
</a>




</div>
</div>

<div class="categories">

<div class="otherLinks">

 <ul class="socialLinks ">
            <li class="socialLinks-item">
                <a href="#">
                <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li class="socialLinks-item">
                <a href="#">
              <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li class="socialLinks-item">
                <a href="#">
<i class="fa-brands fa-instagram"></i>
</a>
            </li>
            <li class="socialLinks-item">
                 <a href="#">
              <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </li>
    </ul>




</div>

</div>











 </footer>