

<div class="header">
    <a href="/" class="logo">CompanyLogo</a>
 <div class="header-right">
   
        </li>
        {{#if user}}
    
    <a href="sesion"><i class="fa fa-fw fa-user"></i> Session</a>
    <a href="users/logout"><i class="fa fa-fw fa-user"></i> Logout</a>
        <a href="/users/settings"><i class="fa fa-fw fa-user"></i> Account Settings</a>
                <a href="/users/validate"><i class="fa fa-fw fa-user"></i> Validate Email</a>



   

        
        {{else}}

        <a href="/users/login"><i class="fa fa-fw fa-user"></i> Login</a>
    <a href="/users/register"><i class="fa fa-fw fa-user"></i> Register</a>
    </div>

        {{/if}}
      </ul>
    </div>
  </div>
</nav>