  
  <h1 class="mainTitle">Join us now!</h1>
  <div class="loginform">

    <section class="seccion">

<h2>REGISTERED CUSTOMERS</h2>
<p>If you have an account, sign in with your email address.</p>

<form action="/users/login" method="POST">
      <div class="inputdiv">
        <label for="user" class="form-label">Email</label><br>
        <input class="inputbox" name="email" type="text" id="email" autocomplete="username" autofocus>
      </div>
      <div class="inputdiv">
        <label for="pass">Password</label><br>
        <input class="inputbox" name="pass" type="password" id="pass" autocomplete="current-password">
      </div>
      
      <div>
        <input class="btnlogin" type="submit" value="Login" />
        {{#if message}}
<p>{{message}}</p>
      {{/if}}
          </div>
      
    </section>

    <section class="seccion">
      <h2>NEW CUSTOMERS</h2>
      <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
      <div>
        <br>
        <a class="btnlogin" href="register">Regsiter now</a>
          </div>
      
    </div>
        </section>

    

 
     