html, body {
  padding: 0!important;
  margin: 0!important
}

body {
  background-color: white;
}

footer {
  background-color: bisque;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20vh 10vh;

}

.banner {
  min-height: 180px;
  background-color: black;
  color: white;
}